################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoICD10-Example/FileContentIndex
/.vs
/src/.vs
/src/bin/Debug/net7.0
/src/obj
